body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 2em;
}
.slider {
    position: fixed; /* Ensures the slider covers the entire screen */
    overflow: hidden; /* Prevents any internal scroll bars */
    display: flex;
    justify-content: center;
    align-items: center; /* These flex properties center the slides */
}

.slide {
    display: none; /* Only the active slide is shown */
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Prevents the slide from shrinking */
}

.slide.active {
    display: flex; /* Using flex to center content within the slide */
}

video, img {
    object-fit: contain; /* Ensures the entire video/image is visible and maintains aspect ratio */
}

button {
    position: absolute;
    z-index: 10;
    top: 95%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    outline: none;
}

#prev {
    left: 5px;
}

#next {
    right: 5px;
}